body{
  margin: 40px;
  font-family: verdana;
}
p,label{
  font-family: tahoma;
  font-size: 24px;
}
#colorFondo{
  background-color: blue;
}
.area{
  margin: 20px;
  border:40px solid green;
  width: 200px;
}
